{% extends 'layout.html'%}

{% block body %}

<style>
        html,body{
          width:100%;
          margin:0;
            height:100%;
        }

        .par{
            font-size:20px;
        }

</style>


<div class="d-flex flex-column h-100 bg-light" id="header">
    <div class = "container">
    <h1>Informazioni sulla Salute</h1>
    <br>
    <p class="text-justify par">  Il sito si concentra specificamente su tre inquinanti: diossido di azoto(NO<sub>2</sub>), ozono(O<sub>3</sub>) e PM10. Questi sono i tre inquinanti più pericolosi per la salute umana. I Valori Limiti per la loro concentrazione sono stati stabiliti dal Decreto Legislativo 155 del 2010(<a href="http://www.gazzettaufficiale.it/atto/serie_generale/caricaDettaglioAtto/originario;jsessionid=qdm76qEDKiT6bljb-lLciA__.ntc-as3-guri2b?atto.dataPubblicazioneGazzetta=2010-09-15&atto.codiceRedazionale=010G0177&elenco30giorni=false">D.Lgs.155/2010<i class="fas fa-external-link-alt"></i></a>)
    </p>    
    <br>
    <h2>Diossido di azoto(NO<sub>2</sub>)</h2>
    <p class="text-justify par">Il diossido di azoto è un gas rossastro dall'odore pungente, estremamente tossico. Può causare irritazioni al sistema respiratorio e agli occhi. A basse concentrazioni può scatenare tossi forti e dolori al petto. Se inalato in quantità maggiori può essere causa di bronchiti ed edemi polmonari.</p>
        
    <p class="text-justify par">
        Il gas si forma nell'atmosfera, dove il monossido di azoto NO, generato dalle reazioni di combustione che avvengono nei motori delle automobili e nei sistemi di riscaldamento domestici,  si ossida in presenza di ossigeno molecolare O<sub>2</sub>.  </p>
    
    
    <br>
    <h2>Particolato (PM10)</h2>
    <p class="text-justify par">

        Il PM10 identifica una serie di particelle presenti nell'atmosfera dal diametro areodinamico minore o uguale i 10 &#x03BC; (1 &#x03BC; = 1 millionesimo di metro), da cui il "10" nel nome. Abitualmente, viene anche definito come "polveri sottili". 
        Le polveri sottili sono estremamente pericolose per la salute umana: sono causa di bronchiti ed asma ed il PM2.5,
        che corrisponde ad una classe di particelle PM10 con un diametro areodinamico inferiore ai 2.5 &#x03BC;, è un probabile fattore di rischio per l'ingerenza di tumori.
        
        
        La composizione chimica del PM10 è eterogenea. 

        L'uomo genera PM10 nei processi di combustione, principalmente. La combustione di legna o il funzionamento delle stufe a pellets genera una grande frazione di PM10 (intorno al 40%). I motori diesel e l'usuramento del manto stradale e degli pneumatici sono altri fattori che contribuiscono al rilascio di PM10 nell'atmosfera.


    </p>


    <h2>Ozono(O<sub>3</sub>)</h2>

    <p class="text-justify par">

        Il problema dell'inquinamento da Ozono non va confuso con il promblea del Buco dell'Ozono. L'Ozono èun gas essenziale per la vita fintanto che si trova nella parte alta dell'atmosfera terrestre, in quanto funge da schermo contro le radiazioni solari. A "livello d'uomo" per così dire, l'Ozono diventa un gas 
        tossico, dannoso principalmente per le vie respiratorie. Può irritare le vie respiratorie, ridurre la funzione polmonare, aggravare l'asma ed altre patologie respiratorie.

        La formazione di Ozono nell'atmosfera è un fenomeno tipicamente estivo ed è dovuto all'interazione tra radiazione solare ed altre particelle ossidate come il diossido di azoto.
    </p>

</div>


</div>

<div class="d-flex flex-column h-100 bg-light" id="header">
</div>

{% endblock %}