{% extends 'layout.html'%}

{% block body %}

<style>
        html,body{
          width:100%;
          margin:0;
            height:100%;
        }

</style>

<div class="d-flex flex-column h-100 bg-light" id="header">
    <div class = "container">
        <h1>Scrivimi</h1>
        <p> Se hai proposte, critiche o vuoi sapere di più sul mio progetto, puoi scrivermi una mail compilando il form sottostante.</p>
        
        <form action = "/send_mail" method="get">
        <div class = "container">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input style = "width:20%;" class="form-control" placeholder="latuamail@example.com" type="text" id = "mailS" name = "m"/>
            </div>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Oggetto</span>
                    </div>
                    <input style = "width:20%;" class="form-control" placeholder="" type="text" id = "ogg" name = "o"/>
                </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Messaggio</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" name= "mes"></textarea>
             </div>
             <button class="btn btn-primary" type="submit"><i class="fas fa-paper-plane"></i></button>
            </div>
            </form>
            
             
</div>
            

{% endblock %}